<FlexboxLayout flexDirection = "row">
    <TextField #texto= "ngModel" [(ngModel)]="TextFieldValue"
                hint="Ingresar texto ..." required minlen= "4">
            </TextField>
            <label *ngIf="texto.hasError('required')" text="*"></label>
            <label *ngIf="!texto.hasError('required')&& texto.hasError('minlen')" text="4+"></label>
</FlexboxLayout>
<button text="Buscar" (tap)="onButton Tap()" *ngIf="texto.valid"></button>
