<ActionBar>

    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Search"></Label>
</ActionBar>

<StackLayout>
<label class="h3 text-center m-y-10" text="Oferta"></label>
<image src="res://logo"></image>
<Label class="page__content-icon fas" text="Copyright 2020"></Label>

</StackLayout class="page page-content" #layout>

<SearchForm (search)=
                            "buscarAhora($event)";
                            activityIndicator.busy=!activityIndicator.busy; [inicial]=" 'hola'"></SearchForm>

    <PullToRefresh (refresh)="onPull($event)">

        <ListView class="list-group" [items]="this.resultados" (itemTap)= "onItemTap($event)" style="height: 1250px">
            <ng-template let-x="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Image src="res://icon" class="thumb img-circle" (longPress)="onLongPress(x)"></Image>
                    <Label [text]="x" class="list-group-item-heading" verticalAlignment="center" style="width: 60%"></Label>
                </FlexboxLayout>
            </ng-template>
        </ListView>
    </PullToRefresh>

</StackLayout>
