<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Home"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf015;"></Label>
    <Label class="page__content-placeholder" [text]="variableAndroid"></Label>
    <Label class="font-weight-bold" text="Noticias para leer ahora:"></Label>

    <Button text="Enviar Correo" (tap)="onEmailTap()"></Button>
    <Button text="Tomar Foto" (tap)="onFotoTap()"></Button>
    <Button text="Datos Plataforma" (tap)="onDatosPlataforma()"></Button>
    <Button text="Monitorear Datos" (tap)="onMonitoreoDatos()"></Button>
</StackLayout>
