<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Noticias"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf1ea;"></Label>
    <!-- <PullToRefresh (refresh)="refreshList($event)" indicatorFillColor="#fff000" indicatorColor="#3489db" > -->
        <Listview class="list-group" [items]="this.noticias.buscar()" (itemTap)="onItemTap($event)" backgroundColor="#F69256" height="200" separatorColor="blue">
            <ng-template let-x="item" let-i="index" let-odd="odd" let-even="even">                
                <FlexboxLayout flexDirection="row" class="p-15" color="white"  class="list-group-item" backgroundColor="#969251">                    
                    <Label order="1" class="list-group-item-heading" backgroundColor="#d2b29b" [text]="x"></Label>
                    <Label order="2" class="list-group-item-heading" backgroundColor="#d2b29b" text="Actualizar"></Label>
                </FlexboxLayout>
            </ng-template>
        </Listview>
    <!--  </PullToRefresh> -->
    <RadListView #listView [items]="this.noticias.buscar()" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)" height="200" class="list-group"
        selectionBehavior="Press" (itemSelected)="onItemTap($event)">
        <ng-template tkListItemTemplate let-item="item">
            <FlexboxLayout flexDirection="row" class="p-15" color="white"  class="list-group-item" backgroundColor="#969251">
                <!-- <Image order="1" class="img-rounded" src="~/app/images/tierra.jpg" stretch="none" ></Image> -->
                <Label order="1" class="list-group-item-heading" backgroundColor="#d2b29b" [text]="item"></Label>
                <Label order="2" class="list-group-item-heading" backgroundColor="#d2b29b" text="Actualizar"></Label>
            </FlexboxLayout>            
        </ng-template>
    </RadListView>
</StackLayout>
               